<div class="grid grid-cols-4 gap-4 p-8">
  <button
    (click)="onClick('C')"
    class="flex p-4 bg-white font-semibold text-orange-500 text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    C
  </button>
  <button
    (click)="onClick('AC')"
    class="flex p-4 bg-white font-semibold text-orange-500 text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    AC
  </button>
  <button
    (click)="onClick('%')"
    class="flex p-4 bg-white font-semibold text-orange-500 text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    %
  </button>
  <button
    (click)="onClick('/')"
    class="flex p-4 bg-white font-semibold text-orange-500 text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    /
  </button>
  <button
    (click)="onClick('7')"
    class="flex p-4 bg-white font-semibold text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    7
  </button>
  <button
    (click)="onClick('8')"
    class="flex p-4 bg-white font-semibold text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    8
  </button>
  <button
    (click)="onClick('9')"
    class="flex p-4 bg-white font-semibold text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    9
  </button>
  <button
    (click)="onClick('*')"
    class="flex p-4 bg-white font-semibold text-orange-500 text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    *
  </button>
  <button
    (click)="onClick('4')"
    class="flex p-4 bg-white font-semibold text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    4
  </button>
  <button
    (click)="onClick('5')"
    class="flex p-4 bg-white font-semibold text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    5
  </button>
  <button
    (click)="onClick('6')"
    class="flex p-4 bg-white font-semibold text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    6
  </button>
  <button
    (click)="onClick('-')"
    class="flex p-4 bg-white font-semibold text-orange-500 text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    -
  </button>
  <button
    (click)="onClick('1')"
    class="flex p-4 bg-white font-semibold text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    1
  </button>
  <button
    (click)="onClick('2')"
    class="flex p-4 bg-white font-semibold text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    2
  </button>
  <button
    (click)="onClick('3')"
    class="flex p-4 bg-white font-semibold text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    3
  </button>
  <button
    (click)="onClick('+')"
    class="flex p-4 bg-white font-semibold text-orange-500 text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    +
  </button>
  <button
    (click)="onClick('0')"
    class="flex p-4 bg-white font-semibold text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    0
  </button>
  <button
    (click)="onClick('.')"
    class="flex p-4 bg-white font-semibold text-orange-500 text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    .
  </button>
  <button
    (click)="onClick('=')"
    class="col-span-2 flex p-4 bg-orange-500 font-semibold text-white text-lg justify-center rounded-lg hover:brightness-90 active:scale-95 transition-transform duration-75"
  >
    =
  </button>
</div>
